In [ ]:
from google.colab import drive

drive.mount('/content/gdrive', force_remount=True)

## June 2022 and March 2023 Airbnb listings files were cleansed separately:

In [2]:
import pandas as pd

In [ ]:
raw_june_airbnb_listings = pd.read_csv('/content/gdrive/MyDrive/Group 7 Files/data/csv/airbnb_datasets/airbnb_files_raw_uncleansed/detailed_listings_scraped_June22.csv')
column_names = raw_june_airbnb_listings.columns.values.tolist()
column_names

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'description',
 'neighborhood_overview',
 'picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bathrooms_text',
 'bedrooms',
 'beds',
 'amenities',
 'price',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'license',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [ ]:
jun_airbnb = raw_june_airbnb_listings.copy()
jun_airbnb = raw_june_airbnb_listings[['id','last_scraped','neighbourhood_cleansed', 'latitude', 'longitude', 'property_type', 'room_type', 'price']]
jun_airbnb.rename(columns = {'neighbourhood_cleansed':'borough'})

,id,last_scraped,borough,latitude,longitude,property_type,room_type,price
0,13913,2022-06-08,Islington,51.568610,-0.112700,Private room in rental unit,Private room,$49.00
1,15400,2022-06-08,Kensington and Chelsea,51.487800,-0.168130,Entire rental unit,Entire home/apt,$75.00
2,24328,2022-06-08,Wandsworth,51.470716,-0.162661,Entire townhouse,Entire home/apt,$195.00
3,17506,2022-06-08,Hammersmith and Fulham,51.479350,-0.197430,Private room in townhouse,Private room,$160.00
4,17402,2022-06-08,Westminster,51.521950,-0.140940,Entire rental unit,Entire home/apt,$379.00
...,...,...,...,...,...,...,...,...
66147,39286243,2022-06-08,Greenwich,51.497380,0.014140,Entire rental unit,Entire home/apt,$151.00
66148,54279511,2022-06-08,Newham,51.512800,0.007800,Entire condo,Entire home/apt,$105.00
66149,26365828,2022-06-08,Greenwich,51.481940,-0.016180,Entire rental unit,Entire home/apt,$221.00
66150,38661117,2022-06-08,Greenwich,51.497750,0.013650,Entire condo,Entire home/apt,$200.00
66151,42923785,2022-06-08,Tower Hamlets,51.509240,-0.043180,Private room in rental unit,Private room,$29.00

In [ ]:
len(jun_airbnb)-jun_airbnb.count() #this tells us there are no null values in our data

id                        0
last_scraped              0
neighbourhood_cleansed    0
latitude                  0
longitude                 0
property_type             0
room_type                 0
price                     0
dtype: int64

In [ ]:
jun_airbnb.to_csv('cleaned_detailed_listings_scraped_June22.csv')

In [ ]:
from google.colab import files 
files.download('cleaned_detailed_listings_scraped_June22.csv')

In [ ]:
jun_airbnb_neighbourhood_count = jun_airbnb.neighbourhood_cleansed.value_counts().reset_index().rename(
           columns={'index': 'borough', 'neighbourhood_cleansed': 'count'})
jun_airbnb_neighbourhood_count

                   borough  count
0              Westminster   7289
1            Tower Hamlets   5467
2                  Hackney   4990
3                   Camden   4490
4   Kensington and Chelsea   4431
5                Southwark   3795
6                Islington   3692
7                  Lambeth   3606
8               Wandsworth   3291
9   Hammersmith and Fulham   2835
10                Lewisham   1898
11                   Brent   1842
12                Haringey   1801
13                  Newham   1594
14                  Ealing   1485
15                  Barnet   1467
16               Greenwich   1465
17          Waltham Forest   1255
18                  Merton   1083
19                 Croydon   1063
20                Hounslow   1054
21    Richmond upon Thames   1047
22              Hillingdon    680
23               Redbridge    654
24                 Enfield    609
25                 Bromley    580
26    Kingston upon Thames    518
27                  Harrow    414
28    Barking and Dagenham    403
29          City of London    397
30                  Bexley    366
31                Havering    311
32                  Sutton    280

In [ ]:
jun_airbnb_neighbourhood_count.to_csv('cleaned_airbnb_neighbourhood_count_June22.csv')

In [ ]:
from google.colab import files 
files.download('cleaned_airbnb_neighbourhood_count_June22.csv')

In [ ]:
raw_march_airbnb_listings = pd.read_csv('/content/gdrive/MyDrive/Group 7 Files/data/csv/airbnb_datasets/airbnb_files_raw_uncleansed/detailed_listings_scraped_March23.csv')

In [ ]:
march_airbnb = raw_march_airbnb_listings.copy()
march_airbnb = raw_march_airbnb_listings[['id','last_scraped','neighbourhood_cleansed', 'latitude', 'longitude', 'property_type', 'room_type', 'price']]
march_airbnb.rename(columns = {'neighbourhood_cleansed':'borough'})

,id,last_scraped,borough,latitude,longitude,property_type,room_type,price
0,714569379355913481,2023-03-14,Haringey,51.597280,-0.139330,Private room in condo,Private room,$100.00
1,808038970516277767,2023-03-14,Barnet,51.636518,-0.177475,Entire rental unit,Entire home/apt,$65.00
2,822557738577472503,2023-03-14,Harrow,51.608180,-0.277400,Entire rental unit,Entire home/apt,$132.00
3,3518856,2023-03-14,Merton,51.422310,-0.188410,Private room in rental unit,Private room,$100.00
4,4876550,2023-03-14,Barnet,51.602282,-0.193606,Entire condo,Entire home/apt,$120.00
...,...,...,...,...,...,...,...,...
75236,654949753111689538,2023-03-14,Brent,51.551480,-0.223710,Entire rental unit,Entire home/apt,$69.00
75237,827653589245352551,2023-03-14,Islington,51.543923,-0.088931,Entire rental unit,Entire home/apt,$140.00
75238,29625947,2023-03-15,Lewisham,51.470630,-0.012730,Private room in rental unit,Private room,$35.00
75239,21700003,2023-03-15,Islington,51.549530,-0.129560,Private room in rental unit,Private room,$45.00
75240,599135204165144789,2023-03-14,Westminster,51.534540,-0.166780,Room in boutique hotel,Private room,$164.00

In [ ]:
len(march_airbnb)-march_airbnb.count() #this tells us there are no null values in our data

id                        0
last_scraped              0
neighbourhood_cleansed    0
latitude                  0
longitude                 0
property_type             0
room_type                 0
price                     0
dtype: int64

In [ ]:
march_airbnb.to_csv('cleaned_detailed_listings_scraped_March23.csv')

In [ ]:
from google.colab import files 
files.download('cleaned_detailed_listings_scraped_March23.csv')

In [ ]:
march_airbnb_neighbourhood_count = march_airbnb.neighbourhood_cleansed.value_counts().reset_index().rename(
           columns={'index': 'borough', 'neighbourhood_cleansed': 'count'})
march_airbnb_neighbourhood_count

                   borough  count
0              Westminster   8550
1            Tower Hamlets   6083
2                  Hackney   5490
3   Kensington and Chelsea   4959
4                   Camden   4943
5                Southwark   4278
6                  Lambeth   4170
7                Islington   4142
8               Wandsworth   3701
9   Hammersmith and Fulham   3260
10                   Brent   2366
11                Lewisham   2184
12                Haringey   2033
13                  Newham   1905
14                  Ealing   1899
15                  Barnet   1788
16               Greenwich   1670
17          Waltham Forest   1428
18                 Croydon   1242
19                  Merton   1219
20    Richmond upon Thames   1092
21                Hounslow   1083
22              Hillingdon    719
23               Redbridge    704
24                 Enfield    687
25                 Bromley    643
26    Kingston upon Thames    571
27    Barking and Dagenham    475
28                  Harrow    449
29          City of London    445
30                  Bexley    412
31                Havering    341
32                  Sutton    310

In [ ]:
march_airbnb_neighbourhood_count.to_csv('cleaned_airbnb_neighbourhood_count_March23.csv')

In [ ]:
from google.colab import files 
files.download('cleaned_airbnb_neighbourhood_count_March23.csv')